html
{
    min-height: 100%;
}

body
{
    position: relative;
    min-height: 100vh;
    background-color: darkslateblue;
    color: whitesmoke;
}
body::after
{
    content: '';
    display: block;
    height: 45px;
}



.bg-light {
    background-color: 
    slateblue !important;
}

nav 
{
    margin-bottom: 15px;
    color:whitesmoke;
}
nav a
{
    color: whitesmoke !important;
}

.dropdown-menu
{
    left: -64px;
}

.derecha {
    flex-grow: 0 !important;
}

.main-section
{
    padding-bottom: 45px;
}
.table
{
    color: whitesmoke;
}
.table-link:hover
{
    background-color: lightblue;
    color: black;
}

.dropdown-item
{
    color:black !important;
}

.nav-item.dropdown:hover {

    cursor: pointer;

}

.col.boton {

    display: flex;
    align-items: end;

}

.dir
{
    margin-bottom: 6px;
}





